body{
    margin: 3% 15%;
    font-family: "Roboto", sans-serif;
    text-align: center;
    max-width: fit-content;
    background-color: #efe7e5;
}
a{
    text-decoration: none;
    color: black;
}
/* nav ul {
    display: flex;
    justify-content: space-around;
    text-align: end;
} */
img{
    width: 500px;
    padding: 20px;
}
.form{
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    width: 100%;
    
}
.imga{
    width: 100%;
    height: auto; 
    display: block;
}
.form-container{
    padding: 0px;
}
input, select, button{
    border-radius: 20px;
    padding: 5px 25px 5px 25px;
}
/* fieldset{
    border-color: black;
    border-radius: 10px;
} */
footer{
    padding: 50px 0px 0px 0px ;
}
table {
    background-color: #ffffff;
    margin: 0 auto;
    width: 80%;
    border-collapse: collapse; 
}
th, td {
    border: 1px solid darkgray;
    padding: 15px;
}

/* fieldset{
    margin: 0 auto;
    background-color: #3D5467; 
    width: 30%;
} */
.acceuil{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    text-decoration: none;
    list-style: none;
}
li{
    background-color: aquamarine;
}